
.text-history {
    position: absolute;
    top: 68%;
    left: 1%;
    opacity: 0.4;
    width: 40em;
    height: 15em;
    resize: none;
    display: none;
}

.text-input {
    position: absolute;
    top: 93%;
    left: 1%;
    opacity: 0.4;
    width: 40em;
    height: 4em;
    resize: none;
    display: none;
}